body*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home{
    width: 100%;
    padding-top: 10px;
    padding: 0 25%;
    display: table;
    margin: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url('../assets/background1.png');
}
.home-content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#proj{
    width: 100%;
    padding-top: 10px;
    padding: 0 25%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #000000;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../assets/wood_fiber_no_brush.png');
}
.column{
    float: left;
    width: 33%;
    padding: 0 10px;
}
.row{
    margin: 5px -5px;
    font-family: "Helvetica";
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    flex: 1 0 21%;
    background-color: #9e9c9c;
    justify-content: center;
    max-width: 250px;
    margin: 15px;
    align-items: center;
    width: 50vw;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 20px 2px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    overflow: hidden;
}
.cards {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
}
.card_image{
    height: 180px;
    width: 100%;
}
h1{
  font-size: 5em;
  display: block;
  color: white;
  font-weight: 300;
}
p{
  font-size: 2em;
  font-weight: 500;
  color: #C3CAD9;
}
a{
    color: #C3CAD9;
    font-size: 100px;
    font-weight: 400;
}
a span{
    font-family: 'Helvetica';
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
a.proj-card,
a.proj-card:hover{
    color:inherit;
    text-decoration: none;
    font-size: inherit;
}
.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background-color: #222;
    padding: 17px 70px;
    margin: 10px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    z-index: 1;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 360%;
    width: 120%;
    background: #C3CAD9;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(78deg);
}
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }